@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --font: 15px;

  --lexend: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", cursive;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: var(--big-shoulders);
  padding: 50px 10px;
  background-color: var(--Very-light-gray);
}
.container {
  border-radius: 10px;
  overflow: hidden;
}
.container .cards {
  padding: 40px;
  color: var(--Transparent-white);
}
.container .cards:first-child {
  background-color: var(--Bright-orange);
}
.container .cards:nth-child(2) {
  background-color: var(--Dark-cyan);
}
.container .cards:last-child {
  background-color: var(--Very-dark-cyan);
}
.container .cards .header {
  text-transform: uppercase;
}
.container .cards .description {
  font-family: var(--lexend);
  line-height: 30px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.container .cards .learn-more {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-family: var(--lexend);
}
.container .cards:first-child .learn-more {
  color: var(--Bright-orange);
}
.container .cards:nth-child(2) .learn-more {
  color: var(--Dark-cyan);
}
.container .cards:last-child .learn-more {
  color: var(--Very-dark-cyan);
}
